HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

target/
*.jar
*.war
*.ear

.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


.secrets
/src/main/resources/models/
/src/main/resources/models/coco.names

/src/main/resources/models/yolov3.cfg

/src/main/resources/models/yolov3.weights

/src/main/resources/models/yolov3-tiny.cfg

/src/main/resources/models/yolov3-tiny.weights

/src/main/resources/models/yolov8n.onnx

/src/main/resources/models/yolov8n.pt

/src/main/resources/models/yolov8n_simpl.onnx
